p {

/*Content - Width and Height. width is 50% of the body*/

width: 50%;
/*Border*/

border: 2px solid blue;

/*Padding* space between the element and the border/

/*padding: 10px;*/
padding-left: 40px;

/*Margin space on the outside of the border*/
/*margin: 100px;*/
/*margin-top: 500px;*/
/*margin: 20px 40px 500px 100px;*/
/*margin: 0 auto 0 auto;*/
margin: 0 auto;
margin: 50px 20px;
}




